In [2]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame({'key1':['a','a','b','b','a'],
                  'key2':['one','two','one','two','one'],
                  'data1':np.random.randn(5),
                  'data2':np.random.randn(5)})
df

grouped = df['data1'].groupby(df['key1'])

means = df['data1'].groupby([df['key1'],df['key2']]).mean()
df_mean = df.groupby(['key1','key2']).mean()
df_mean

pieces = dict(list(df.groupby(['key1','key2'])))
print('pieces',pieces['a','one'])

# size,count
grouped_size = df.groupby(['key1','key2']).count()
grouped_size

# for name,group in df.groupby('key1'):
#     print(name)
#     print(group)
    
# for (k1,k2),group in df.groupby(['key1','key2']):
#     print((k1,k2))
#     print(group)
    
# df['data1'].groupby(df['key1'])
# df[['data2']].groupby(df['key1'])

# print( df.groupby(['key1','key2'])['data1'].mean())
# print(df.groupby(['key1','key2'])[['data1']].mean())

#通过字典或series进行分组
people = pd.DataFrame(np.random.randn(5,5),
                      columns=['a','b','c','d','e'],
                      index=['Joe','Steve','Wes','Jim','Travis'])
people.loc[['Wes'],['b','c']]=np.nan

people

mapping = {'a':'red','b':'red','c':'blue','d':'blue','e':'red','f':'orange'}
by_column = people.groupby(mapping,axis=1)
by_column.sum()

map_series = pd.Series(mapping)
# by_count = people.groupby(map_series,axis=1).count()
# by_count

#将函数作为分组键

pieces   key1 key2     data1     data2
0    a  one -0.680184  0.567828
4    a  one  1.995853 -1.563031

In [49]:
key_list=['one','one','one','two','three']
people.groupby([len,key_list]).min()

                a         b         c         d         e
3 one   -1.151348  0.214927 -1.573729  0.725333 -0.223165
  two    0.447798 -1.787527  0.129909 -0.400403 -1.140761
5 one   -0.409585  1.868587  0.448303 -0.790844 -0.142454
6 three -1.508390  1.647779  0.191571  0.278282  3.122354

In [20]:
columns = pd.MultiIndex.from_arrays([['US','US','US','JP','JP'],[1,3,5,1,3]],
                                    names=['cty','tenor'])
heir_df = pd.DataFrame(np.random.randn(5,5),columns=columns)
heir_df

def peak_to_peak(arr):
    return arr.max()-arr.min()

grouped.agg(['count','sum','max'])

grouped.agg([('foo','mean'),('bar','std')])

           foo       bar
key1
a    -0.504323  2.417049
b     0.610740  0.272312

In [21]:
frame = pd.DataFrame({'data1':np.random.randn(1000),
                      'data2':np.random.randn(1000)
})

grouping = pd.cut(frame['data1'],10,labels=False)
grouped = frame['data2'].groupby(grouping)
grouped.apply()

        data1     data2
0   -0.771054  0.100115
1   -0.298054 -0.336343
2   -0.148484  0.046924
3   -1.170017  0.594860
4    0.185646 -1.481051
..        ...       ...
995 -0.355783 -0.996650
996  0.977989 -1.205811
997  0.001878 -0.408046
998  1.684264 -1.178536
999  1.635519 -2.037998

[1000 rows x 2 columns]

In [33]:
people
key = ['one','two','one','two','one']
def demean(arr):
    return arr - arr.mean()
demanded = people.groupby(key).transform(demean)
demanded.groupby(key).mean()

                a    b             c             d             e
one  7.401487e-17  0.0  0.000000e+00  3.700743e-17  0.000000e+00
two  0.000000e+00  0.0 -5.551115e-17 -5.551115e-17 -1.110223e-16

In [41]:
frame = pd.DataFrame({'data1':np.random.randn(1000),
                      'data2':np.random.randn(1000)})
factor = pd.cut(frame.data1,4)
factor
def get_stats(arr):
    return ({'min':arr.min(),
            'max':arr.max(),
            'mean':arr.mean(),
             'count':arr.count()})
grouped = frame['data2'].groupby(factor)
grouped.apply(get_stats).unstack()


grouping = pd.qcut(frame['data1'],10,labels=False)
grouped =frame['data2'].groupby(grouping)
grouped.apply(get_stats).unstack()

            min       max      mean  count
data1
0     -2.407391  2.907259 -0.102385  100.0
1     -2.718171  2.612649 -0.142339  100.0
2     -2.640231  2.452509  0.111924  100.0
3     -2.597284  1.382537 -0.115205  100.0
4     -3.154199  3.077329  0.134458  100.0
5     -2.577593  3.668805  0.236058  100.0
6     -2.254970  3.346818 -0.016752  100.0
7     -3.160090  2.879596  0.040488  100.0
8     -2.052475  2.274446  0.070128  100.0
9     -2.275356  2.685218  0.004359  100.0

In [61]:
from datetime import datetime
delta = datetime.now() - datetime(2008,6,24,23,8,15)
# delta

from dateutil.parser import parse
print(parse('2019-May-1'))

2019-05-01 00:00:00

In [66]:
datestrs = ['7/6/2011','8/6/2011']
pd.to_datetime(datestrs)
idx = pd.to_datetime(datestrs+[None])
pd.isnull(idx)

array([False, False,  True])